<!-- send the variables we created in the search_controller to this view -->
<!-- we cannot use the :handle variable we created previously
because the views themselves cannot directly communicate with each other -->
<h1>Whoogle Search for Twitter User: <%= @handle %></h1>
<%= @concepts %>
