<h1>Whoogle Search</h1>

<%= form_tag 'search', :method => "get" do %>
    <%= text_field_tag :text, params[:text] %>
    <%= submit_tag "Search", :name => nil %>
    <% if(params[:text]) %>
        <%= @query %>
    <% end %>
<% end %>
