<html>
<p><img src="https://farm6.staticflickr.com/5756/30395640214_1287bf641c_b.jpg" alt="" width="107" height="48" /></p>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
<p>{% if user %}</p>
<h1>{{ user }}'s Facebook Information</h1>
<p>{% endif %}</p>
</header>
  
<nav>
  <ul>
    <li>About</li>
  </ul>
</nav>

<article>
<p>{% if about %}</p>
  <p>{{ about }}</p>
  <p>{% endif %}</p>
</article>

<footer><div><a href="/search">Search</a></div></footer>

</div>
<div align="center">
<h2>Interests</h2>
<table style="height: 84px;" border="3" width="414">
<tbody>
<tr><th width="200">Topic</th><th width="200">Relevance</th></tr>
<tr>
<td style="text-align: center;">&nbsp;</td>
<td><center>0.91<center></center></center></td>
</tr>
<tr>
<td style="text-align: center;">&nbsp;</td>
<td><center>0.80<center></center></center></td>
</tr>
</tbody>
</table>
</div>
</div>
<div><a href="/search">Search</a></div>
