<!DOCTYPE html>
<html>

<p><img src="https://farm6.staticflickr.com/5756/30395640214_1287bf641c_b.jpg" alt="" width="107" height="48" /></p>
{% if user %}
  <h2 style="text-align: center;"><strong>{{ user }}'s profile!</strong></h2>
{% endif %}
<p><img style="float: left;" src="" alt="" width="100" height="100" border="4"/></p>
<div align="center">
<table border="3">
<tbody>
<tr><th width="200">Topic</th><th width="200">Relevance</th></tr>
<tr>
<td style="text-align: center;"></td>
<td><center>0.91</span><center></center></center></td>
</tr>
<tr>
<td style="text-align: center;"></td>
<td><center>0.80</span><center></center></center></td>
</tr>
</tbody>
</table>
</div>
<a href='/search'>Search</a>

</html>