<!DOCTYPE html>
<html>

<h1 style="text-align: center;"><img src="https://farm6.staticflickr.com/5756/30395640214_1287bf641c_b.jpg" alt="" width="332" height="149" /></h1>
<hr />

<form method="post" enctype ="multipart/form-data" action="/search">
<p style="text-align: center;"><strong><label for = "search">Search: </label></strong><input name="search" type="search" /></p>
<p style="text-align: center;"><strong>Search Options: </strong><input name="searchtype" type="radio" value="people" /><label>Person </label><input name="searchtype" type="radio" value="interest" /><label>Interest</label></p>
<p style="text-align: center;"><input type="submit" value="search" /></p>'
</form>

</html>

